:root {
  --dark-peach: rgb(233, 139, 84);
  --peach: rgb(244, 201, 176);
  --light-peach: rgb(250, 240, 226);
  --light-sage: rgb(187, 198, 176);
  --dark-sage: rgb(112, 139, 85);
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 0.3fr 2.2fr 0.3fr;
  grid-template-rows: 70px 100px auto auto 10px auto 20px 50px;
  grid-template-areas:
    "nav nav nav"
    "title title title"
    ". PersonalBckgrd ."
    ". EdBckgrd ."
    ". space ."
    "prev carousel nxt"
    ". space2 ."
    "footer footer footer";
  width: 100%;
  height: 100%;
  background-image: url(sagegreenbackgroundAbMe.jpg);
  background-position: 40% 60%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: 'azote', serif;
}

nav {
  border-bottom: 5px solid var(--dark-peach);
  background-color: rgb(168, 183, 150);
  grid-area: nav;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  animation: fadeIn 2s ease-in-out;
}

nav:hover {
  border-bottom: 5px solid var(--dark-sage);
}

nav > a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav > a:hover {
  color: var(--dark-sage);
  font-weight: 600;
}

h1 {
  grid-area: title;
  justify-self: center;
  align-self: center;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: var(--dark-sage);
  background-color: rgba(255, 255, 255, 0.757);
  border-radius: 10px;
  border: 1px solid;
  animation: slideDown 2s ease-in-out;
}

.PersonalBckgrd {
  grid-area: PersonalBckgrd;
  text-align: center;
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  border: 2px solid var(--dark-peach);
  border-radius: 10px;
  margin: 5px;
  background-color: rgb(244, 201, 176);
  animation: slideUp 2s ease-in-out;
}

.PersonalBckgrd > h2 {
  margin-top: 10px;
}

.PersonalBckgrd > p {
  margin-top: -30px;
  font-size: 28px;
}

.EdBckgrd {
  grid-area: EdBckgrd;
  text-align: center;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  border: 2px solid var(--dark-peach);
  border-radius: 10px;
  margin: 5px;
  background-color: rgb(244, 201, 176);
  animation: slideUp 2s ease-in-out;
}

.EdBckgrd > h2 {
  margin-top: 10px;
}

.EdBckgrd > p {
  margin-top: -30px;
  font-size: 28px;
}

.space {
  grid-area: space;
}

.carousel-container {
  grid-area: carousel;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 95%;
}

.images {
  width: fit-content;
  height: 200px;
  border-radius: 10px;
  display: none;
  border: 10px solid rgb(107, 139, 107);
  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px 3px var(--peach);
  animation: fadeIn 2s ease-in-out;
}

.images:first-of-type {
  display: block;
}

.images:hover {
  border: 10px solid var(--peach);
  border-radius: 30px;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px 10px rgb(107, 139, 107);
}

.prev, .nxt {
  border: .5px solid white;
  background-color: var(--dark-sage);
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 3px 3px 3px var(--dark-peach);
  z-index: 1;
  height: auto;
  width: auto;
  align-self: center;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.prev {
  grid-area: prev;
  justify-self: end;
}

.nxt {
  grid-area: nxt;
  justify-self: start;
}

.prev:hover {
  background: var(--peach);
  box-shadow: 3px 3px 3px 3px peachpuff;
  color: var(--dark-sage);
}

.nxt:hover {
  background: var(--light-peach);
  box-shadow: 3px 3px 3px 3px peachpuff;
  color: var(--peach);
}

.space2 {
  grid-area: space2;
}

footer {
  grid-area: footer;
  background-color: var(--peach);
  border-top: 5px solid var(--dark-sage);
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  animation: fadeIn 2s ease-in-out;
}

footer:hover {
  background-color: var(--light-peach);
  color: white;
}

footer > a {
  color: var(--dark-peach);
  text-decoration: none;
}

footer > a:hover {
  color: var(--dark-sage);
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  body {
    grid-template-columns: 0.4fr 2.2fr 0.4fr;
  }
  nav {
    font-size: 33px;
  }
  .PersonalBckgrd > p {
    font-size: 40px;
  }
  .EdBckgrd > p {
    font-size: 40px;
  }
  .images {
    width: fit-content;
    height: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    font-size: 40px;
  }
  .PersonalBckgrd {
    background-color: rgba(244, 201, 176, 0.744);
  }
  .PersonalBckgrd:hover {
    background-color: rgb(244, 201, 176);
  }
  .PersonalBckgrd > h2 {
    font-size: 60px;
  }
  .EdBckgrd {
    background-color: rgba(244, 201, 176, 0.744);
  }
  .EdBckgrd:hover {
    background-color: rgb(244, 201, 176);
  }
  .EdBckgrd > h2 {
    font-size: 60px;
  }
  .images {
    width: fit-content;
    height: 450px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
